@import url("https://fonts.googleapis.com/css?family=Montserrat|Yellowtail|Roboto");

body {
    background-image: linear-gradient(to top, #8B81B1 0%, #E1D9FF 100%);
    background-attachment: fixed; 
}

h1, h3 {
    font-family: 'yellowtail'; 
}